Binaries/*
Content/*
!Content/Blueprints/
!Content/Blueprints/**
!Content/Assets/**
!Content/Assets/
Intermediate/*
Saved/*
DerivedDataCache/*
.vscode/*
ADITLOIS.code-workspace
Plugins/*
PackagedGame/*
PackagedGame2/*
Build/*
.vs/ADITLOIS/v17/.suo

.ignore
