Binaries/*
# Content/*
**/__ExternalActors__/**
**/__ExternalObjects__/**
!Content/Blueprints/
!Content/Assets/
!Content/Movies/
!Content/Splash/
!Content/Logos/
!Content/Assets/Levels/
# Content/StarterContent/
Intermediate/*
Saved/*
DerivedDataCache/*
.vscode/*
ADITLOIS.code-workspace
Plugins/*
PackagedGame/*
PackagedGame2/*
Build/*
.vs/ADITLOIS/v17/.suo

.ignore
