Binaries/*
Content/*
!Content/Blueprints/
!Conten/Blueprints/**
Intermediate/*
Saved/*
DerivedDataCache/*
.vscode/*
ADITLOIS.code-workspace
Plugins/*
PackagedGame/*
PackagedGame2/*
Build/*
.vs/ADITLOIS/v17/.suo

.ignore
